<div class="custom-select-container" (click)="toggleDropdown()" [class.open]="dropdownOpen">
  <div class="custom-select-value" #labelContainer>
    <div class="selected-items">
      <ng-container *ngIf="displaySelectedItems.length > 0; else noSelection">
        <span *ngFor="let wrapper of displaySelectedItems" class="selected-item" [class.hidden-count]="wrapper.hidden">
          {{ wrapper.item[labelField] }}
          <button *ngIf="!wrapper.hidden" type="button" class="remove-btn"
            (click)="removeSelected(wrapper.item, $event)">
            ✕
          </button>
        </span>

      </ng-container>
      <ng-template #noSelection>
        <span class="placeholder">{{ placeholder }}</span>
      </ng-template>
    </div>
    <span class="arrow" [class.open]="dropdownOpen">
      <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" aria-hidden="true">
        <path d="M7 10l5 5 5-5z"></path>
      </svg>
    </span>

  </div>
  <div class="dropdown" *ngIf="dropdownOpen">
    <input *ngIf="config.searchable !== false" type="text" [(ngModel)]="searchTerm" (click)="$event.stopPropagation()"
      (input)="filterOptions()" placeholder="Search..." id="search_filed" autocomplete="off" />
    <ul (scroll)="onScroll($event)">
      <li *ngIf="config.multiple && this.visibleOptions.length != 0 && config.selectAllButton !== false" 
          class="select-actions" (click)="areAllSelected() ? unselectAll() : selectAll()">
        <input type="checkbox" [checked]="this.selectedValues.length === this.options.length" name="checkbox_all"
          class="checkbox_select" />
        <button type="button">
          {{ areAllSelected() ? 'UnSelect All' : 'Select All' }}
        </button>
      </li>


      <li *ngFor="let item of visibleOptions" (click)="selectItem(item)" 
      class="item" [class.selected]="config.multiple
        ? selectedValues.includes(item[valueField])
        : item[valueField] === selectedValue
      ">

        <img *ngIf="item[imageField]" [src]="item[imageField]" class="select-item-image" alt="item" />
        <span class="labelField">{{ item[labelField] }}</span>
        <ng-container *ngIf="config.multiple">
          <input type="checkbox" [checked]="selectedValues.includes(item[valueField])" name="checkbox"
            class="checkbox_select" />
        </ng-container>
      </li>
      <div *ngIf="this.visibleOptions.length === 0" class="no-results-container">
        <span class="no-results">No results found</span>
      </div>

    </ul>
  </div>
</div>