.custom-select-container {
  border: 1px solid #ccc;
  padding: 8px;
  position: relative;
  cursor: pointer;
  width: 100%;
  background: #f5f5f5;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.selected-items {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

#search_filed:focus-visible {
    outline: none;
}

.selected-items .selected-item {
  background-color: #0079fe;
  color: white;
  padding: 9px 6px;
  border-radius: 4px;
  font-size: 13px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.selected-items .selected-item.hidden-count {
  font-weight: bold;
}

.selected-items .selected-item .remove-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin-left: 4px;
  line-height: 1;
  color: white;
}

.selected-items .placeholder {
  color: #44474e;
  padding: 9px 0;
  font-family: sans-serif;
}

.labelField {
  font-family: sans-serif;
}

.custom-select-container .arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%) rotate(0deg);
  transition: transform 0.3s ease;
  pointer-events: none;
}

.custom-select-container .arrow.open {
  transform: translateY(-50%) rotate(180deg);
}


.custom-select-container .dropdown {
  position: absolute;
  top: 100%;
  left: -1px;
  width: 100%;
  border: 1px solid #ccc;
  background: white;
  z-index: 1000;
}

.custom-select-container .dropdown #search_filed {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
}

.custom-select-container .dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.custom-select-container .dropdown ul li {
  padding: 14px;
  cursor: pointer;
  position: relative;
}

.custom-select-container .dropdown ul .item.selected {
  background-color: #e9f4ff;
  color: #000;
}

.custom-select-container .dropdown ul .item:hover {
  background: #f5f5f5;
}

.select-item-image {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 50%;
  vertical-align: middle;
}

.select-actions {
  display: flex;
  justify-content: space-between;
  padding: 4px 8px;
  background: #f9f9f9;
}

.select-actions button {
  font-size: 12px;
  padding: 2px 6px;
  border: none;
  background: #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox_select {
  position: absolute;
  right: 0;
  width: 15px;
  height: 15px;
}
.no-results-container {
  padding: 16px;
  text-align: center;
  color: #888;
}
.no-results {
  font-size: 14px;
  font-weight: bold;
  color: #44474e;
}
